
<script src="//www.google.com/jsapi"></script>
<script src="js/chartkick.js"></script>

%h4.text-center Testing Chartkick

.chart2
  %p
    =column_chart({Unassigned: @devices.all(location: "Unassigned").count, Unknown: @devices.all(location: "").count,Sheung_Wan: @devices.all(location: "Sheung Wan").count,Kwai_Hing: @devices.all(location: "Kwai Hing").count}, id: "front-chart")
