!!!
%head
  %title Korialys Inventory Management System
  %link{:type => "text/css", :rel => "stylesheet", :href => "/css/bootstrap.css"}
  %link{:type => "text/css", :rel => "stylesheet", :href => "/css/style.css"}

  %body
    .header
      %img.logo(src='/img/korialys_sm.png')

  = yield

