!!!
%head
  %title Korialys Inventory Management System
  %link{:type => "text/css", :rel => "stylesheet", :href => "/css/bootstrap.css"}
  %link{:type => "text/css", :rel => "stylesheet", :href => "/css/style.css"}

  %script{:type=>"text/javascript", href: "http://www.google.com/jsapi"}
  %script{:type=>"text/javascript", href: "js/chartkick.js"}


  %body
    .header
      %img.logo(src='/img/korialys_sm.png')
    .navbar
      .navbar-inner
        %a.brand InvSys
        %ul.nav
          %li.divider-vertical
          %li
            %a{href: "/"} Home
          %li.divider-vertical
          %li
            %a{href: '/new'} New Device
          %li.divider-vertical
          / %form.navbar-search{ :action => "/search", :method => "post", :enctype => "multipart/form-data" }
          /   %input.span2{ :type => "text", :name => "search"}
          /   %input.btn{ :type => "submit"}

  = yield
