
body {
    background-image: url('/img/redox_01.png');
}


.header {
  background-color: darkred;
  padding: 20px;
}

/*#chart {width: 33%;margin:10px auto;}
*/
.btn {
  margin-top: 0;
  margin-bottom: 5px;
}

.footer {
  background-color: darkred;
  padding: 20px;
}


.table {
  background-color: lightgray;

  width: 75%;
  margin: 1% auto;
  }

.table-head {
  font-family: "Helvetica";
  font-weight: bold;
  font-size: 16pt;

}

.control-label {font-weight: bold;margin-right: 10px}

.scan-form{
  margin:30px auto;
  width: 60%;
}

.change-box{
  margin:30px auto;
  width: 33%;
}

.delete-form {width: 33%; margin: 0 auto;}


.data-vis{
  width: 60%;
  padding:10px 2%;
  margin:10px auto;
}

.data-table{
  width: 75%;
  padding:10px 2%;
  margin:10px auto;

}



