
body {
    background-image: url('/img/redox_01.png');
}


.header {
  background-color: darkred;
  padding: 20px;
}

/*#chart {width: 33%;margin:10px auto;}
*/
.btn {
  margin-top: 0;
  margin-bottom: 5px;
}

.footer {
  background-color: darkred;
  padding: 20px;
}


.table-head {
  font-family: "Helvetica";
  font-weight: bold;
  font-size: 16pt;

}

.control-label {font-weight: bold;margin-right: 10px}

.change-box{
  margin:30px auto;
  width: 33%;
}

.delete-form {width: 33%; margin: 0 auto;}

.centered {
  float: none;
  margin: 0 auto;
}
